/* Variables */
@main-font: 'Mako';
@container-width: 940px;

/* Mix-ins */
.main-shadow {
  @main-shadow: 0px 3px 36px 6px #000;
  -webkit-box-shadow: @main-shadow;
  -moz-box-shadow: @main-shadow;
  box-shadow: @main-shadow;
}

.rounded-corners {
  @border-radius: 5px;
  -webkit-border-radius:  @border-radius;
  -moz-border-radius:     @border-radius;
  border-radius:          @border-radius;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.black {
  color: #000;
}


/* Primary Elements */
body {
  font-family: @main-font, sans-serif;
  background-color: #888;
  background-image: url('../img/hexabump_@2X.png'); 
}

h1 {
  font-family: @main-font;
  font-size: 24pt;
  font-weight: 700;
}


hr.head {
  margin-bottom: 6px;
  margin-top: 0;
}

footer {
  font-size: 10pt;
}

a {
  h1 {
    color: #000;
  }
}
a:hover {
  .logo {
    text-decoration: none;
  }
  i {
    text-decoration: none;
  }
}

/* Classes */
.main-container {
  width: @container-width;
  margin: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  background-color: #fff;
  .main-shadow;
  .rounded-corners;
}
.logo {
  margin: 0;
  padding: 0;
}
